:root {
  --button-color: #885df1;
  --background-color: #f5f2fe;
  --font: "Roboto", sans-serif;
}

body {
  text-align: center;
}

.main {
  margin-top: 50px;
  text-align: center;
}

.two {
  font-size: 45px;
  font-family: var(--font);
}

.one {
  font-size: 55px;
  font-family: var(--font);
  font-weight: bold;
}

.three {
  font-size: 25px;
  font-family: var(--font);
}

h4 {
  font-size: 20px;
  font-family: var(--font);
}

.contact-me,
.about-me,
.app {
  padding: 20px;
  border-radius: 7px;
  font-size: 20px;
}

.app {
  border: none;
  background-color: var(--button-color);
  color: white;
  transition: 300ms ease-in-out;
}

.contact-me {
  border: none;
  background-color: var(--button-color);
  color: white;
  margin-left: 80px;
  transition: 300ms ease-in-out;
}

.contact-me:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.about-me {
  border-color: var(--button-color);
  background-color: white;
  margin-right: 80px;
  color: var(--button-color);
  transition: 300ms ease-in-out;
}

.about-me:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.subtitle {
  color: darkslategrey;
  font-size: 25px;
  font-weight: bold;
}

.column {
  padding: 20px;
  border: 1px solid var(--button-color);
  background-color: var(--background-color);
  color: var(--button-color);
  border-radius: 7px;
  margin: 10px;
}

p {
  font-family: var(--font);
  font-size: 20px;
}

.image {
  transition: 300ms all ease-in-out;
}

.image:hover {
  transform: scale(1.2);
}

.icon {
  font-size: 100px;
  margin: 0;
}

.hover-underline:hover {
  text-decoration: underline;
}
