:root {
  --button-color: #885df1;
  --background-color: #f5f2fe;
  --font: "Roboto", sans-serif;
  --topnav-color: #212529;
}

.initials {
  margin: 1px solid white;
  padding: 5px;
  background-color: white;
  color: #212529;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-family: "Lobster", sans-serif;
}

.initials:hover {
  background-color: #212529;
  color: white;
}

body {
  text-align: center;
}

.main {
  margin-top: 50px;
  text-align: center;
}

.two {
  font-size: 45px;
  font-family: var(--font);
}

.one {
  font-size: 55px;
  font-family: var(--font);
  font-weight: bold;
}

.three {
  font-size: 25px;
  font-family: var(--font);
}

.albania {
  max-width: 100%;
  max-height: 300px;
  border-radius: 15px;
  margin-top: 50px;
  border: 8px solid #212529;
}

h4 {
  font-size: 20px;
  font-family: var(--font);
}

.contact-me,
.about-me,
.app {
  padding: 20px;
  border-radius: 7px;
  font-size: 20px;
}

.app {
  border: none;
  background-color: var(--button-color);
  color: white;
  transition: 300ms ease-in-out;
}

.contact-me {
  border: none;
  background-color: var(--button-color);
  color: white;
  margin-left: 80px;
  transition: 300ms ease-in-out;
}

button:hover,
.app:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.about-me {
  border-color: var(--button-color);
  background-color: white;
  margin-right: 80px;
  color: var(--button-color);
  transition: 300ms ease-in-out;
}

.subtitle {
  color: darkslategrey;
  font-size: 25px;
  font-weight: bold;
}

.column {
  padding: 20px;
  border: 1px solid var(--button-color);
  background-color: var(--background-color);
  color: var(--button-color);
  border-radius: 7px;
  margin: 10px;
}

p {
  font-family: var(--font);
  font-size: 20px;
}

.image {
  transition: 300ms all ease-in-out;
}

.image:hover {
  transform: scale(1.2);
}

.icon {
  font-size: 100px;
  margin: 0;
}

.hover-underline:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .bottom-margin {
    margin-bottom: 30px;
  }

  .card {
    display: block;
    margin: 0 auto;
  }
}

.icons {
  width: 60px;
  display: block;
  margin: 0 auto;
}

.icon-text {
  text-align: center;
  font-size: 15px;
}

.bottom-icon {
  color: var(--topnav-color);
  font-size: 40px;
  margin-bottom: 30px;
  transition: 300ms all ease-in-out;
}

.bottom-icon:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.thin {
  max-width: 300px;
  margin: 0 auto;
}
